*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: #f5f5f5;
    color:#222;
}
header{
    background:#111;
    padding:20px
}
nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
nav .logo{
    font-size: 24px;
    color:white;
    font-weight: bold;
}
nav ul{
    list-style:none;
    display:flex;
}
nav ul li{
    margin-left:25px;
}
nav ul li a{
    color:aqua;
    text-decoration:none;
    font-size:16px;
    transition: 0.3s;
}
nav ul li a:hover{
    color:yellow;
}
.hero{
    height:90vh;
    background: linear-gradient(to right,#111,#222);
    color:white;
    text-align: center;
    padding-top:120px
}
.hero h1{
    font-size:48px;
}
.hero h1 span{
    color:orange
}
.hero p{
    margin-top: 10px;
    font-size:20px;
}
.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 25px;
    background:orange;
    color:rgb(0, 0, 0);
    text-decoration:none;
    border-radius:5px;
    
}
.btn:hover{
    background: red;
}
.about{
    background:#ffff;
    border:2px solid #111;
    padding:60px 20px;
    text-align:center;
    border-radius: 10px;
    width:90%;
    margin:40px auto;
}
.about,.contact{
    padding:60px 20px;
    text-align:center;
}
.about h2,.projects h2,.contact h2{
    font-size:32px;
    margin-bottom:20px;
}
.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.project-card{
    background: #111;
    color:#fff;
    padding:20px;
    width:280px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
    background:#222;
}
footer{
    background:#111;
    padding:20px;
    color:#f5f5f5;
    text-align:center;
    margin-top:40px;
}